.title {
    font-size: 24px;
}

.bottom-info {
    font-size: 12px;
}

body {
    font-family: 'Arial';

    margin: 0;
    display: flex;
    flex-direction: column;

    /* Aligns items horizontally  */
    align-items: center;

    background-color: rgb(200, 200, 200);
}